.selfImage {
  float: left;
  margin: 10px;
}
.red {
  color: red;
}

.box {
  background-color: #e0f2ff;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  width: 80%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}