.selfImage {
  float: left;
  margin: 10px;
}
.red {
  color: red;
}

.box {
  background-color: #e0f2ff;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  width: 80%;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-auto-rows: minmax(150px; auto);
  
}